{% load staticfiles %}


<html>
<head>
<title>PokeDUOC/Anime</title>
<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<!-- Función js que retorna a la página anterior-->
<input id="colorboton" class="boton-personalizado" type=”button” onClick="history.back()" value=Volver>
<body style="background:#084B8A;">
<div class="row"><!--seccion-->
<div class="col-lg-4 cols-12" >
    <div class="box3">
        <a href="http://localhost:8000/pokemon/">
        <img src="{% static 'imagenes/logo.png' %}" width="49%" alt="">
        </a>
    </div>
</div>
    <div class="col-lg-2 col-xs-12">
        <div class="box3">
            <a href="http://localhost:8000/pokemon/Videojuegos">
                <img src="{% static 'imagenes/logo 1.png' %}" width="95%">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-xs-12">
        <div class="box3">
                <a href="http://localhost:8000/pokemon/Competitivo">
                <img src="{% static 'imagenes/logo 2.png' %}" width="100%">
                </a>
        </div>
    </div>
    <div class="col-lg-2 col-xs-12">
        <div class="box3">
            <a href="http://localhost:8000/pokemon/Anime">
                <img src="{% static 'imagenes/logo 3.png' %}" width="59%">
            </a>
        </div>
    </div>
        <div class="col-lg-2 col-xs-12">
            <div class="box3">
                <a href="http://localhost:8000/pokemon/Manga">
                    <img src="{% static 'imagenes/logo 4.png' %}" width="53.4%">
                </a>
            </div>
        </div> 
    </nav> 
</div>


<!--Introduccion pagina-->

    <div class="slider">
            <ul>
                <li><img src="{% static 'img/1.jpg' %}" alt=""></li>
                <li><img src="{% static 'img/2.jpg' %}" alt=""></li>
                <li><img src="{% static 'img/3.jpg' %}" alt=""></li>
                <li><img src="{% static 'img/4.jpg' %}" alt=""></li>
            </ul>
        </div>


        <div class="Texto_XD">Pokémon Anime</div>
<h3 class="Texto_XD2">  Pokémon es un anime metaserial creado por Satoshi Tajiri, Junichi Masuda y Ken Sugimori, que narra la historia de Ash Ketchum, 
        un joven entrenador Pokémon de Pueblo Paleta que comienza un viaje para alcanzar su sueño, ser un Maestro Pokémon. La serie está basada en 
        la saga de videojuegos de Pokémon también creada por Satoshi Tajiri, desarrollada por Game Freak y distribuida por Nintendo, que aparecieron 
        por primera vez en el mercado japonés el 27 de febrero de 1996. 
</h3>






<!--Sagas anime-->


                <img id="XDD"src="{% static 'img/pokemon.jpg' %}" width="50%" alt="">



    <!--GENERACIONES anime 1-->
        <div class="row">
        <div class="col-lg-6">
            <div class="box3">
                    <div class="Texto_XD">Pokémon </div>
                    <img src="{% static 'img/temp1.jpg' %}" width="28%">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box3">
                        <h4>
                            Ash se acababa de convertir en entrenador con un Pikachu terco al que no le gusta estar en las pokéballs. 
                            Más tarde conoce a Misty , una chica que le sigue con el pretexto de que le pague su bicicleta y a Brock , 
                            el ex-líder de gimnasio de Ciudad Plateada quien también le siguió en su viaje. El Equipo Rocket también 
                            sigue a Ash Ketchum, pero sus fines son robarle sus Pokémon para entregárselos a su jefe. Sin embargo, 
                            siempre el Equipo Rocket fracasa y termina lanzado por los aires.
                        </h4>
                </div>
        </div>
        </div>




        <div class="row">
            <div class="col-lg-6">
                <div class="box3">
                        <div class="Texto_XD">Pokémon Jhoto League Champions </div>
                        <img src="https://cde.peru.com//ima/0/1/5/8/8/1588063/924x530/pokemon-go.jpg" width="36.5%">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box3">
                            <h4>
                                Tras la derrota que obtubo ash en la liga de Kanto a manos de Richie y su pikachu, ash volvera a intentar ganar la liga en 
                                otra region totalmente nueva, Jhoto es la region a vencer en esta temporada, con mas de 100 pokemon nuevos, nuevos personajes, lideres y 
                                un reforzado equipo rocket que intentara dominar a Ho-Oh o Lugia
                            </h4>
                    </div>
            </div>
            </div>





    <!--GENERACIONES anime 2-->

        <div class="row">
                <div class="col-lg-6">
                    <div class="box3">
                            <div class="Texto_XD">Pokémon Advanced Generation </div>
                            <img src="{% static 'img/temp2.jpg' %}" width="42%">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box3">
                                <h4>
                                    La sexta temporada de la serie se desarrolla en Hoenn, una región remota para Ash y Pikachu. 
                                    Ash emprende su aventura hacia Hoenn sólo junto a Pikachu, puesto que Misty se tuvo que quedar 
                                    en Ciudad Celeste encargándose del Gimnasio Celeste. En Esta nueva región, Ash conoce a una 
                                    entrenadora Pokémon llamada Aura (May en Latino América), a su hermano Max y se reencuentra 
                                    con Brock. Aura se dedica a los Concursos Pokémon. Además se introduce el rival de Aura en esta 
                                    modalidad, Drew. Ash y Aura viajan por Hoenn tratando de obtener las 8 medallas de gimnasio y 
                                    los 4 lazos respectivamente. 
                                </h4>
                        </div>
                </div>
                </div>


<!--GENERACIONES anime 3-->

<div class="row">
        <div class="col-lg-6">
            <div class="box3">
                    <div class="Texto_XD">Pokémon Diamond & Pearl </div>
                    <img src="{% static 'img/temp3.jpg' %}" width="30%">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box3">
                        <h4>
                            Si Gary Oak se dirige hacia la región Sinnoh, ¡entonces Ash no andará muy lejos! Listo para enfrentarse 
                            a la Liga Sinnoh, Ash se lleva a Pikachu y se encuentran con Brock en Sinnoh, donde pronto se une un tercero 
                            al par de Entrenadores: Dawn, una Coordinadora de Pokémon novata decidida a seguir los pasos de su madre. 
                            Tanto a Ash como a Dawn les cuesta seguir sus caminos, pero no les resulta difícil hacer nuevos amigos, 
                            obteniendo nuevos Pokémon como Turtwig y Piplup.
                        </h4>
                </div>
        </div>
        </div>


<!--GENERACIONES anime 4-->

<div class="row">
        <div class="col-lg-6">
            <div class="box3">
                    <div class="Texto_XD">Pokémon Black and White </div>
                    <img src="{% static 'img/pokemon.jpg' %}" width="40%">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box3">
                        <h4>
                            Ash y Pikachu comienzan su nuevo viaje partiendo de Pueblo Paleta con su madre y el Profesor Oak. 
                            Viajan a Teselia, donde conocen a la Profesora Encina, y después de un fuerte encuentro con Trip y 
                            Zekrom, empiezan su viaje por Teselia para conseguir las ocho medallas, después de capturar una Pidove, 
                            Iris se une a Ash en su viaje, capturando a Oshawott y Tepig, llegan a Ciudad Gres, donde Ash pelea 
                            contra Zeo, Maíz y Cilan/Millo, y gana su primera medalla, y Cilan/Millo se une a Ash para convertirse 
                            en un sibarita Pokémon.
                        </h4>
                </div>
        </div>
        </div>


<!--GENERACIONES anime 5-->

<div class="row">
        <div class="col-lg-6">
            <div class="box3">
                    <div class="Texto_XD">Pokémon X Y </div>
                    <img src="{% static 'img/temp5.jpg' %}" width="32%">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box3">
                        <h4>
                            El viaje de Ash Ketchum continúa en la serie Pokémon XY al llegar a la región de Kalos, una tierra rebosante de belleza, 
                            llena de nuevos Pokémon por descubrir. Con vistas en la Liga de Kalos, Ash está listo para combatir y atrapar tantos nuevos 
                            Pokémon como pueda. Pero antes tendrá que enfrentarse a los increíbles Líderes de Gimnasio de esta región y descubrir nueva 
                            y emocionante información sobre la evolución Pokémon. Aunque tiene a su lado a sus nuevos amigos Serena, Lem y Clem, también 
                            se encuentra con un montón de caras y Pokémon familiares mientras persigue su sueño de convertirse en Maestro Pokémon.
                        </h4>
                </div>
        </div>
    </div>

<!--GENERACIONES anime 6-->

<div class="row">
    <div class="col-lg-6">
        <div class="box3">
                <div class="Texto_XD">Pokémon Sun & Moon </div>
                <img src="https://www.netflix-nederland.nl/wp-content/uploads/2018/04/pokemon-sunmoon-1-810x456.jpg" width="40%">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box3">
                    <h4>
                    El viaje de ash continua despues de su derrota en Kalos por Alain y su mega charizard X, ash decide visitar la isla veraniega de Alola
                    con su madre y el profesor Oak, descubre la escuela pokemon y el recorrido insular de esta region, el cual son un grupo de pruebas que 
                    los entrenadores tienen que realizar para convertirse en maestro pokemon, en esta isla se encuentra una niña llamada lillie la cual
                    no sabe nada de su pasado, pero esta secretamente relacionada con la fundacion Aether
                    </h4>
            </div>
    </div>
</div>
<footer>
            
        <p  id="piedepagina" class="centrado"> Desarrollo Aplicaciones Web y Mobile , Todos los derechos reservados a PokeDUOC </p>
        
    </footer>

</body>
</html>